//! **************************************************************************
// Written by: Map O.87xd on Tue Nov 26 16:38:02 2019
//! **************************************************************************

SCHEMATIC START;
COMP "H" LOCATE = SITE "C5" LEVEL 1;
COMP "V" LOCATE = SITE "D5" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "Bout<0>" LOCATE = SITE "A13" LEVEL 1;
COMP "Bout<1>" LOCATE = SITE "B13" LEVEL 1;
COMP "Bout<2>" LOCATE = SITE "A14" LEVEL 1;
COMP "Bout<3>" LOCATE = SITE "B14" LEVEL 1;
COMP "Bout<4>" LOCATE = SITE "C14" LEVEL 1;
COMP "Bout<5>" LOCATE = SITE "D14" LEVEL 1;
COMP "Bout<6>" LOCATE = SITE "A16" LEVEL 1;
COMP "Bout<7>" LOCATE = SITE "B16" LEVEL 1;
COMP "Gout<0>" LOCATE = SITE "F9" LEVEL 1;
COMP "Gout<1>" LOCATE = SITE "E9" LEVEL 1;
COMP "Gout<2>" LOCATE = SITE "D11" LEVEL 1;
COMP "Gout<3>" LOCATE = SITE "C11" LEVEL 1;
COMP "Gout<4>" LOCATE = SITE "F11" LEVEL 1;
COMP "Gout<5>" LOCATE = SITE "E11" LEVEL 1;
COMP "Gout<6>" LOCATE = SITE "E12" LEVEL 1;
COMP "Gout<7>" LOCATE = SITE "F12" LEVEL 1;
COMP "Rout<0>" LOCATE = SITE "A6" LEVEL 1;
COMP "Rout<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "Rout<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "Rout<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "Rout<4>" LOCATE = SITE "D7" LEVEL 1;
COMP "Rout<5>" LOCATE = SITE "C7" LEVEL 1;
COMP "Rout<6>" LOCATE = SITE "F8" LEVEL 1;
COMP "Rout<7>" LOCATE = SITE "E8" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "DAC_CLK" LOCATE = SITE "A4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

