//! **************************************************************************
// Written by: Map O.76xd on Fri Oct 28 13:08:57 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
PIN
        mySRAM/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/spram.ram.A_pins<10>
        = BEL
        "mySRAM/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/spram.ram.A"
        PINNAME CLKA;
PIN
        mySRAM/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/spram.ram.B_pins<10>
        = BEL
        "mySRAM/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/spram.ram.B"
        PINNAME CLKB;
PIN
        myILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>
        = BEL
        "myILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B"
        PINNAME CLKB;
PIN
        myILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[1].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>
        = BEL
        "myILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[1].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B"
        PINNAME CLKB;
TIMEGRP D_CLK = BEL "din_cpu_0" BEL "din_cpu_1" BEL "din_cpu_2" BEL
        "din_cpu_3" BEL "din_cpu_4" BEL "din_cpu_5" BEL "din_cpu_6" BEL
        "din_cpu_7" BEL "dbit_0" BEL "dbit_2" BEL "addr_sram_5" BEL
        "addr_sram_7" BEL "counter_0" BEL "counter_1" BEL "counter_2" BEL
        "counter_3" BEL "counter_4" BEL "counter_5" BEL "counter_6" BEL
        "counter_7" BEL "counter_8" BEL "counter_9" BEL "counter_10" BEL
        "counter_11" BEL "counter_12" BEL "counter_13" BEL "counter_14" BEL
        "counter_15" BEL "counter_16" BEL "counter_17" BEL "counter_18" BEL
        "counter_19" BEL "counter_20" BEL "counter_21" BEL "counter_22" BEL
        "counter_23" BEL "counter_24" BEL "counter_25" BEL "counter_26" BEL
        "counter_27" BEL "counter_28" BEL "counter_29" BEL "counter_30" BEL
        "counter_31" BEL "offset_0" BEL "offset_1" BEL "offset_2" BEL
        "offset_3" BEL "offset_4" BEL "tag_cpu_0" BEL "tag_cpu_1" BEL
        "tag_cpu_2" BEL "index_cpu_1" BEL "Mram_tag_mem2" BEL "Mram_tag_mem1"
        BEL "Mram_tag_mem3" BEL "Mram_tag_mem4" PIN
        "mySRAM/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/spram.ram.A_pins<10>"
        PIN
        "mySRAM/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/spram.ram.B_pins<10>"
        BEL "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_HCMP_Q" BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_LCMP_Q" BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_SCNT_CMP_Q" BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE0" BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE1" BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG0" BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG1" BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_NOLUT6.I_SRL_T2.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_NOLUT6.I_SRL_T2.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CDONE/I_NOLUT6.I_SRL_T2.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[8].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[7].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[6].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[5].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[4].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[3].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[2].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[1].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[0].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[8].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[7].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[6].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[5].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[4].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[3].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[2].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[1].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[0].U_FDRE"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_CAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_iCAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_CAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_iCAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_CAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_iCAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_CAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_iCAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_CAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_iCAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_CAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_iCAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_CAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_iCAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_CAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_iCAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_CAP_ADDR"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_iCAP_ADDR"
        BEL "myILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL2" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL3" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_CR" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[8].U_NSQ" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[7].U_NSQ" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[6].U_NSQ" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[5].U_NSQ" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[4].U_NSQ" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[3].U_NSQ" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[2].U_NSQ" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[1].U_NSQ" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[0].U_NSQ" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_STATE1" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_STATE0" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_ARM" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_TRIGGER" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_FULL" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_ECR" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_RISING" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_GEN_DELAY[1].U_FD" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_RFDRE" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_DOUT" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_DOUT1" BEL
        "myILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_DOUT0" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_POR" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/G_RST[0].U_RST" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/G_RST[1].U_RST" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/G_RST[2].U_RST" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/G_RST[3].U_RST" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/G_RST[4].U_RST" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/G_RST[5].U_RST" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/G_RST[6].U_RST" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/G_RST[7].U_RST" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[2].U_FD" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[1].U_FD" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_RFDRE" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT1" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT0" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[4].U_FD" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[3].U_FD" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[2].U_FD" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[1].U_FD" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_RFDRE" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT1" BEL
        "myILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT0" BEL
        "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[0].U_IREG"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[0].U_TREG"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_TWMOD4_NE0.I_YES_RPM.I_OREG.U_OREG"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[4].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[5].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[6].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[7].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[8].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[9].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[10].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[11].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[12].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[13].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[14].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[15].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[16].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[17].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[18].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[19].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[20].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[21].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[22].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[23].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[24].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[25].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[26].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[27].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[28].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[29].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[30].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[31].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[32].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[33].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[34].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[35].I_SRLT_NE_0.FF"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[4].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[5].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[6].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[7].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[8].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[9].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[10].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[11].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[12].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[13].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[14].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[15].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[16].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[17].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[18].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[19].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[20].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[21].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[22].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[23].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[24].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[25].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[26].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[27].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[28].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[29].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[30].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[31].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[32].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[33].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[34].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[35].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_OREG.I_YES_OREG.U_OREG"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/I_MC_NO.U_NO_MC_REG"
        BEL "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_CAP_DLY" BEL
        "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "myILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL "myILA/U0/I_YES_D.U_ILA/U_TRIG/F_NO_TCMC.U_FDR" BEL
        "myILA/U0/I_DQ.G_DW[35].U_DQ" BEL "myILA/U0/I_DQ.G_DW[34].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[33].U_DQ" BEL "myILA/U0/I_DQ.G_DW[32].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[31].U_DQ" BEL "myILA/U0/I_DQ.G_DW[30].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[29].U_DQ" BEL "myILA/U0/I_DQ.G_DW[28].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[27].U_DQ" BEL "myILA/U0/I_DQ.G_DW[26].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[25].U_DQ" BEL "myILA/U0/I_DQ.G_DW[24].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[23].U_DQ" BEL "myILA/U0/I_DQ.G_DW[22].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[21].U_DQ" BEL "myILA/U0/I_DQ.G_DW[20].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[19].U_DQ" BEL "myILA/U0/I_DQ.G_DW[18].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[17].U_DQ" BEL "myILA/U0/I_DQ.G_DW[16].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[15].U_DQ" BEL "myILA/U0/I_DQ.G_DW[14].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[13].U_DQ" BEL "myILA/U0/I_DQ.G_DW[12].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[11].U_DQ" BEL "myILA/U0/I_DQ.G_DW[10].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[9].U_DQ" BEL "myILA/U0/I_DQ.G_DW[8].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[7].U_DQ" BEL "myILA/U0/I_DQ.G_DW[6].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[5].U_DQ" BEL "myILA/U0/I_DQ.G_DW[4].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[3].U_DQ" BEL "myILA/U0/I_DQ.G_DW[2].U_DQ" BEL
        "myILA/U0/I_DQ.G_DW[1].U_DQ" BEL "myILA/U0/I_DQ.G_DW[0].U_DQ" BEL
        "myILA/U0/I_TQ0.G_TW[0].U_TQ" PIN
        "myILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>"
        PIN
        "myILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[1].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>"
        BEL "present_state_FSM_FFd1" BEL "present_state_FSM_FFd2" BEL
        "present_state_FSM_FFd3" BEL "present_state_FSM_FFd5" BEL
        "present_state_FSM_FFd6" BEL "MY_CPU_gen/st1_FSM_FFd1" BEL
        "MY_CPU_gen/st1_FSM_FFd2" BEL "MY_CPU_gen/st1_FSM_FFd3" BEL
        "MY_CPU_gen/st1_FSM_FFd4" BEL "MY_CPU_gen/patCtrl_2" BEL
        "MY_CPU_gen/patCtrl_1" BEL "MY_CPU_gen/patCtrl_0" BEL
        "MY_CPU_gen/rReg2" BEL "MY_CPU_gen/rReg1" BEL "tagEN" BEL
        "addr_sram_0" BEL "addr_sram_1" BEL "addr_sram_2" BEL "states_code_0"
        BEL "states_code_1" BEL "states_code_2" BEL "states_code_3" BEL
        "addr_sram_3" BEL "addr_sram_4" BEL "vbit_0" BEL "addr_sram_6" BEL
        "vbit_2" BEL "sWEN_0" BEL "present_state_FSM_FFd7" BEL
        "MY_CPU_gen/st1_FSM_FFd5" BEL "MY_CPU_gen/st1_FSM_FFd6" BEL
        "present_state_FSM_FFd4" BEL "sRDY" BEL "sMSTRB";
TIMEGRP U_CLK = BEL "myIcon/U0/U_ICON/U_iDATA_CMD";
TIMEGRP D2_CLK = BEL "myILA/U0/I_YES_D.U_ILA/U_STAT/U_DIRTY_LDC";
TIMEGRP "FFS" = FFS(*);
PATH TS_D2_TO_T2_path = FROM TIMEGRP "D2_CLK" TO TIMEGRP "FFS";
PATH "TS_D2_TO_T2_path" TIG;
PATH TS_J2_TO_D2_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J2_TO_D2_path" TIG;
PATH TS_J3_TO_D2_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J3_TO_D2_path" TIG;
PATH TS_J4_TO_D2_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J4_TO_D2_path" TIG;
TS_U_TO_U = MAXDELAY FROM TIMEGRP "U_CLK" TO TIMEGRP "U_CLK" 15 ns;
PIN
        myIcon/U0/U_ICON/I_YES_BSCAN.U_BS/I_SPARTAN3.ISYN.I_USE_SOFTBSCAN_EQ0.I_3.U_BS_pins<2>
        = BEL
        "myIcon/U0/U_ICON/I_YES_BSCAN.U_BS/I_SPARTAN3.ISYN.I_USE_SOFTBSCAN_EQ0.I_3.U_BS"
        PINNAME SHIFT;
PIN
        "myIcon/U0/U_ICON/I_YES_BSCAN.U_BS/I_SPARTAN3.ISYN.I_USE_SOFTBSCAN_EQ0.I_3.U_BS_pins<2>"
        TIG;
SCHEMATIC END;

